---
layout: default
title: "Home"
my_msg: "Hello world!"
---
<header>
  <img class="avatar" src="assets/images/ID_pic.png" alt="mugshot">
  <h1>Arthur Bauville</h1>
</header>

<div class="container">
  <div class="section">
    <h2 class="section-title">Bio</h2>
    <div class="bio-content">
      <p>Hi, I'm Arthur, a <strong>web/software developer</strong> in Yokohama, Japan. I'm passionate with programming, music and science. Check some of my work below, or reach out to me.</p>
      <p class="social-links">
        <a href="https://www.linkedin.com/in/arthur-bauville/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/abauville"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Web projects</h2>
    <div class="card-container">
      {% for project in site.data.web_projects %}
        {% include project_card.html %}
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Scientific software</h2>
    <div class="card-container">
      {% for project in site.data.science_software %}
        {% include project_card.html %}
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Blog posts</h2>
    <div class="card-container">
      {% for project in site.data.blog_posts %}
        {% include project_card.html %}
      {% endfor %}
    </div>
  </div>
</div>