---
layout: default
title: "Home"
my_msg: "Hello world!"
---
<header>
  <img class="avatar" src="assets/images/ID_pic.png" alt="mugshot">

  <h1>Arthur Bauville</h1>
  <h2>Software developer</h2>

  <h2>
    <i class="fa-solid fa-location-dot"></i>
    <!-- <span class="material-icons">&#xE87C;</span> -->
    Yokohama, Japan
  </h2>
</header>
<div class="container">
  <h2>Web projects</h2>
  <!-- <hr> -->
  <div class="card-container">
    {% for project in site.data.web_projects %}
      {% include project_card.html %}
    {% endfor %}
  </div>
  <h2>Scientific software</h2>
</div>
  <!-- <h3>NeighborStudio</h3>
  <img width="1000" alt="Screen Shot 2022-03-17 at 15 36 41" src="https://user-images.githubusercontent.com/39847270/158751140-29e17991-736b-4510-9931-2b19ddbe0ec5.png"> -->
