
<div class="card">
  <div class="project-cover" style="background-image: url({{ project.cover_url }});">
    <div class="project-hidden">
      {% include tech_stack.html %}
      <div class="link-container">
        {% if project.web_url %}
        <a href="{{ project.web_url }}"><i class="fas fa-globe" title="view on the web"></i></a>
        {% endif %}
        {% if project.github_url %}
        <a href="{{ project.github_url }}"><i class="fab fa-github" title="view on github"></i></a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card-info">
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>

  </div>
</div>
