
<div class="card">
  <div class="project-cover" style="background-image: url({{ project.cover_url }});">
    <div class="project-hidden">
      <div class="tech-stack-container">
        <img class="tech-img" src="./assets/images/icons/html-5.svg" alt="html5" title="html5">
        <img class="tech-img" src="./assets/images/icons/css-3.svg" alt="css3" title="css3">
        <img class="tech-img" src="./assets/images/icons/javascript.svg" alt="javascript" title="javascript">
        <img class="tech-img" src="./assets/images/icons/bootstrap.svg" alt="bootstrap" title="bootstrap">
        <img class="tech-img" src="./assets/images/icons/postgresql.svg" alt="postgresql" title="postgresql">
      </div>
      <div class="link-container">
        {% if project.web_url %}
        <a href="{{ project.web_url }}"><i class="fas fa-globe" title="view on the web"></i></a>
        {% endif %}
        {% if project.github_url %}
        <a href="{{ project.github_url }}"><i class="fab fa-github" title="view on github"></i></a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card-info">
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>

  </div>
</div>
