header {
  text-align: center;
  background-color: rgb(34, 34, 39);
  // background-image: url('../images/logo.png');
  // background-position: center;
  // background-size: cover;
  padding: 32px;
}
