header {
  text-align: center;
  background-color: rgb(31, 31, 36);
  // background-image: url('../images/logo.png');
  // background-position: center;
  // background-size: cover;
  padding: 32px;
}
