.card-container {
  background-color: red;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 300px);
}

.card {
  // grid-column: 1 / 3;
  // grid-row: 1;
  background-color: blue;
  .project-cover {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
  }
}
