.card-container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-template-rows: repeat(3, 340px);
  grid-template-rows: auto;
}

.card {
  height: 348px;
  background-color: rgb(31, 31, 36);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    .project-hidden {
      visibility: visible;
    }

    background-color: rgba(70, 33, 33, 0.9);
    color: white;
  }

  .card-info {
    // margin: 8px 8px;
    padding: 16px;
  }
  h3 {
    margin: 0;;
    padding: 0;
  }
  p {
    margin: 4px 0;
  }
  .tech-img {
    width: 20px;
  }
}

.project-cover {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.project-hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px 8px 0 0;
  padding: 32px;
  color: $white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;


  a {
    text-decoration: none;
    color: $white;
    margin: 8px;
  }
  visibility: hidden;

  .tech-stack-container {
    position: absolute;

    right: 16px;
    top: 4px;
  }

}
