.card-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 340px);
}

.card {
  background-color: rgb(243, 238, 232);
  border-radius: 8px;
  .project-cover {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    position: relative;
    &:hover .project-hidden {
      visibility: visible;
    }
  }
  .project-hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px 8px 0 0;
    padding: 32px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;


    a {
      text-decoration: none;
      color: white;
    }
    // visibility: hidden;

  }
  .card-info {
    margin: 8px 8px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 4px 0;
  }
  .tech-img {
    width: 20px;
  }
}
