.tech-stack-container {
    // position: absolute;
    right: 16px;
    top: 4px;
    div {
        display: inline-block;
        font-size: 10px;
        text-align: center;
        margin: 0 4px 0px 4px;
    }
}
.tech-img {
    height: 32px;
}