.tech-stack-container {
    position: absolute;
    display: flex;
    right: 16px;
    top: 4px;
    div {
      font-size: 10px;
      text-align: center;
      margin: 0 8px 0px 8px;
    }
}
.tech-img {
    height: 32px;
}