.section-title {
    text-align: center;
    margin: 8px 0 32px 0;
    font-size: 40px;
}

.social-links {
    text-align: center;
    font-size: 32px;
    margin: 8px;
}

a {
    text-decoration: None;
    color: $white;
}

.section {
    background-color: #f7f3ee14;
    border-radius: 8px;
    padding: 24px;
    margin-top: 64px;
    // border: 1px solid $white;
    box-shadow: 1px 1px 2px 1px #f7f3ee5e;
}

.bio-content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

}