---
---
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

@import "main";
@import "header";
@import "avatar";
@import "project_card";
@import "tech_stack";
@import "pages/index";